@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Kaushan+Script&display=swap");

h1 {
  width: 100%;
  font-family: "Kaushan Script";
}

p {
  font-weight: lighter;
  font-size: 10px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-weight: lighter;
  font-size: 10px;
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
